.venv/
venv/
__pycache__/
media/
.env
db.sqlite3
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
*.swn
.env
db.sqlite3
*.db